@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Literata&display=swap");

nav.navbar {
  background-color: rgb(192, 192, 192, 0.2);
}

.heroBackground {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(216, 162, 162, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("./images/hero_site.jpg");
  background-size: cover;
  background-position: center;
}

.mainContent {
  display: block;
  text-align: center;
  align-content: center;
  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ); */
  color: white;
}

.contentWrapper {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openingQuote {
  font-size: 3em;
  font-family: DM Serif Display, serif;
  margin-top: 1em;
}

.openingName {
  font-size: 3em;
  font-family: Literata, serif;
}

.openingTitle {
  font-size: 5em;
  font-family: Literata, serif;
}
